<nav class="navbar">
  <ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#about">About Me</a></li>
    <li><a href="#skills">Skills</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#contact">CV & Connect</a></li>
  </ul>
</nav>
<div class="containers">
  <section id="home">
    <div class="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('https://res.cloudinary.com/abandolon/image/upload/o_75,c_scale,q_100,w_1500/v1554183909/Japan-Kyoto-2017-93.jpg')";>
      <div id="welcome">
        <h1>Hello and Welcome! My name is Anthony</h1>
        <p>Please follow this path and learn more about me.</p>
      </div>
      <div id="intro">
        <h1>Who Am I? </h1>
        <p>Junior Product Manager & Junior Fullstack Developer with 10 + years in Travel & Tourism Management. Energetic, professional self-starter with proven success developing multi-generational teams up to 20 people. Having a passion to identify opportunities for personal growth and develop individualized plans for improvement. In-depth knowledge of business operations, including budgeting, client services and performance analysis.</p>
      </div>
    <p>Should you have any further questions or would like to discuss a possible opportunity with your organization, you can reach me by <a href="#contact">clicking here</a>.</p>
    </div>
  </section>
  <section id="about">
    <div class="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('https://res.cloudinary.com/abandolon/image/upload/o_75,c_scale,q_100,w_1500/v1555322332/Japan-Kyoto-2017-88.jpg')";>
      <div id="profile-pic">
        <img src="https://res.cloudinary.com/abandolon/image/upload/ar_1:1,bo_5px_solid_rgb:ff0000,c_fill,g_auto,q_auto,r_max,w_150/v1555322906/portrait.jpg" alt="profile picture">
      </div>
      <div id="interests">
        <h2>A little bit more about me:</h2>
        <p>I am originally from the Philippines, but grew up in a small town north of Seattle, Washington. I come from a family of 6, which taught me how to negotiate for what I wanted at an early age. Some of my hobbies include photography (all the pictures on this page were taken by me), baking, boating of any kind (kayak, canoe, pleasure crafts), swimming, and watching Futball (Go Seattle Sounders!)</p>
        <p>I enjoy continually learning and trying new things. In many of my past jobs, I was known to always take on new challenges and projects outside of my core responsibilities. When something is of interest (like starting my own travel agency) I tend to dig as deep as I can go and learn as much as possible about the subject.</p>
      </div>
    </div>
  </section>
  <section id="skills">
    <div class="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('https://res.cloudinary.com/abandolon/image/upload/o_75,c_scale,q_100,w_1500/v1554183909/Japan-Kyoto-2017-82.jpg')";>
      <!-- Ruby Iteration through Skills -->
      <div class="skills list-inline">
        <div class="row" style="justify-content: center">
          <% @skills.each do |skill| %>
          <div class="skill-item list-inline-item col-sm-3">
            <ul>
              <li><i class="<%= skill.icon %>"></i></li>
              <li><%= skill.name %></li>
            </ul>
          </div>
          <% end %></div>
      </div>
    </div>
  </section>
  <section id="projects">
    <div class="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('https://res.cloudinary.com/abandolon/image/upload/o_75,c_scale,q_100,w_1500/v1554183909/Japan-Kyoto-2017-94.jpg')";>
      <!-- Create Bootstrap Carousel for Projects -->
      <div id="carousel" class="carousel slide" data-ride: true>
        <div class="carousel-inner" role="listbox">
          <% @projects.each_with_index do |project, index| %>
          <!-- Sets first Project object as "Active" -->
          <% if index == 0 %>
          <div class="carousel-item active">
            <%= link_to project.url, target: "blank" do %>
              <div class="card-trip transparent-card">
                <div style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(<%= project.picture %>)">
                  <div class="card-info-column">
                    <div style="width: 100% !important;">
                      <div id="project-desc-col">
                        <h2 class="card-text project-name"><%= project.name %></h2><br>
                        <p id="project-desc-card" class="card-text project-name"><%= project.description %></p>
                        <div class="list-inline">
                          <% project.technologies.each do |tech| %>
                            <div class="list-inline-item">
                              <div class="icons">
                                <img src=<%= tech.icon %> alt= <%= tech.name %> class = "icon">
                                <%= tech.name %>
                              </div>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <% else %>
          <!-- Continues iteration through rest of Project Objects -->
          <div class="carousel-item">
            <%= link_to project.url, target: "blank" do %>
              <div class="card-trip transparent-card">
                <div style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url(<%= project.picture %>)">
                  <div class="card-info-column">
                    <div style="width: 100% !important;">
                      <div id="project-desc-col">
                        <h2 class="card-text project-name"><%= project.name %></h2><br>
                        <p id="project-desc-card" class="card-text project-name"><%= project.description %></p>
                        <div class="list-inline">
                          <% project.technologies.each do |tech| %>
                            <div class="list-inline-item">
                              <div class="icons">
                                <img src=<%= tech.icon %> alt= <%= tech.name %> class = "icon">
                                <%= tech.name %>
                              </div>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <!-- code for carsousel controlls -->
          <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon"></span>
            <span class="sr-only">Next</span>
          </a>
          <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <section id="contact">
    <div class="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)), url('https://res.cloudinary.com/abandolon/image/upload/o_75,c_scale,q_100,w_1500/v1554183913/Japan-Kyoto-2017-101.jpg')";>
    <%= simple_form_for @download do |f| %>
      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.input :company %>
      <%= f.submit "Get My CV" %>
    <% end %>

    </div>
  </section>
</div>
